body {
	color: #36454f;
	font-family: "Barlow", sans-serif;
}

h1,
h2,
img,
ul {
	margin: 0;
	padding: 0;
}

h1 {
	color: #155263;
	font-size: 2.5em;
	font-weight: bold;
}

li {
	list-style: none;
	font-size: 18px;
}

li:first-letter {
	text-transform: capitalize;
}

strong {
	font-size: 2.5em;
	color: #155263;
}

hr {
	margin-top: 0;
}
input.btn {
	background-color: #0c6b85;
	border: #29859f;
	/*font-size: 1.2em;*/
	padding: 6px;
}

input.btn:hover {
	background-color: #155263;
}

.pin {
	padding-left: 0;
}

.current-time {
	font-size: 18px;
	font-weight: bold;
}

.weather-app {
	max-width: 600px;
	margin: 20px auto;
	margin-bottom: 5px;
	border: 2px solid #92c7d3;
	border-radius: 10px;
	padding: 10px;
	padding-left: 15px;
	background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.sign {
	max-width: 600px;
	margin: 0 auto;
}

div.align-items-end {
	margin-top: 15px;
	margin-bottom: 5px;
}

main-img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.day-img {
	display: block;
	margin: 10px auto;
	width: 50px;
}

.units {
	font-size: 16px;
	position: relative;
	top: -16px;
}

.week-temperature {
	font-size: 1.2em;
	/*padding-right: 0;*/
}

a {
	text-decoration: none;
}

.active {
	color: #36454f;
	cursor: default;
}

.active:hover {
	text-decoration: none;
}

.weather-forecast-temperature-max {
	font-weight: bold;
}

.fa-location-pin {
	color: #247291;
	font-size: 2em;
}

.fa-location-pin:hover {
	cursor: pointer;
	color: #155263;
}
