body {
	color: #36454f;
	font-family: "Barlow", sans-serif;
	/*font-size: 16px;*/
	background: linear-gradient(
		178.6deg,
		rgb(232, 245, 253) 3.3%,
		rgb(252, 253, 255) 109.6%
	);
}

h1,
h2,
img,
ul {
	margin: 0;
	padding: 0;
}

h1 {
	color: #155263;
	font-size: 2.5em;
	font-weight: bold;
}

li {
	list-style: none;
	font-size: 18px;
	text-transform: capitalize;
}

strong {
	font-size: 2.5em;
	color: #155263;
}
.current-time {
	font-size: 18px;
	font-weight: bold;
}

.weather-app {
	max-width: 600px;
	margin: 30px auto;
	margin-bottom: 5px;
	border: 2px solid #92c7d3;
	border-radius: 10px;
	padding: 15px;
	padding-left: 20px;
}

.sign {
	max-width: 600px;
	margin: 0 auto;
}

.align-items-end {
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-img {
	display: block;
	margin: 0 auto;
	width: 60%;
}

.day-img {
	display: block;
	margin: 10px auto;
	width: 40%;
}

.units {
	font-size: 16px;
	position: relative;
	top: -16px;
}

.week-temperature {
	font-weight: bolder;
	/*	font-size: 1.2em;*/
	padding-right: 0;
}
